@page
@model ForumFörFöräldrar.Pages.Admin.IndexModel

<div class="text-center">
    <h1>ADMIN</h1>
</div>
<ul>
    <li><a asp-page="/Admin/MainCategory/Index">ForumMainCategory</a></li>
    <li><a asp-page="/Admin/SubCategory/Index">ForumSubCategory</a></li>
    <li><a asp-page="/Admin/RoleAdmin/Index">Roller</a></li>
    <li><a asp-page="/Admin/Offensive/Index">Rapporterade inlägg</a></li>
</ul>
