@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<section class=" bg-info-50 p-8 p-lg-0 pt-lg-5 text-center text-sm-start text-black-75 min-vh-100">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1>Welcome to the Barn Forum!</h1>
                <p class="lead my-4">
                    Detta forum är tillägnad diskussioner och information om föräldraskap och uppfostran av barn.
                </p>
                <p>
                    Ställ gärna frågor, dela erfarenheter och få kontakt med andra föräldrar.
                </p>      
            </div>
            <img class="img-fluid w-50 d-none d-sm-block" src="img/people.png" alt="">
        </div>
    </div>
</section>
